<h2>New Location</h2>

<%= render "form.html", Map.put(assigns, :action, image_assets_location_path(@conn, :create)) %>

<span><%= link "Back", to: image_assets_location_path(@conn, :index) %></span>
