<h2>New Image asset</h2>

<%= render "form.html", Map.put(assigns, :action, image_assets_image_asset_path(@conn, :create)) %>

<span><%= link "Back", to: image_assets_image_asset_path(@conn, :index) %></span>
