<h2>Edit License</h2>

<%= render "form.html", Map.put(assigns, :action, image_assets_license_path(@conn, :update, @license)) %>

<span><%= link "Back", to: image_assets_license_path(@conn, :index) %></span>
