<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SI Image Manager Prototype</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    
    
  </head>
  <script>
      window.userToken = "<%= assigns[:user_token] %>"
      console.log('userToken',window.userToken)
    </script>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  <body>

<nav class="navbar navbar-default navbar-static-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="<%= page_path(@conn,:index) %>">SI Image Manager Prototype</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav pull-right">
               <li>
                <a href="<%= page_path(@conn,:docs) %>">Docs</a>
              </li>
              <li>
                    <a href="<%= image_assets_project_path(@conn,:index) %>">Projects</a>
                  </li>
                  <li>
                    <a href="<%= image_assets_image_asset_path(@conn,:index) %>">ImageAssets</a>
                  </li>

                  <li>
                    <%= if @conn.assigns.user_info.name == "" do %> 
                          <a href="<%= session_path(@conn,:new) %>">Login</a>
                    <% else %>
                      <a href="<%= user_path(@conn, :show, @conn.assigns.user_info) %>" ><%= @conn.assigns.user_info.name %> | <%= @conn.assigns.user_info.user_type.type %></a>
                    <% end %>

                  </li>
              
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>


    <div class="container-fluid">
      
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
  
       

  </body>
</html>
